/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #a1ffce, #faffd1); /* Light gradient background */
}

header {
    background-color: #4CAF50; /* Green color for the header */
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Footer Styles */
footer {
    background-color: #4CAF50; /* Matching the header color */
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Profile Image */
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ddd;
    background-size: cover;
    margin: 20px auto;
}

/* Introduction Section */
#intro {
    max-width: 700px;
    margin: 0 auto 40px;
    padding: 30px;
    text-align: center;
    background-color: #DCF6EA; /* Soft green for a gentle contrast */
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Section Styles */
section {
    text-align: center;
    padding: 20px 0;
}

/* Section Headings */
section h2 {
    color: #333;
    background-color: #e7ffe7; /* Light green background for headings */
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Timeline Styles for Skills and Experience */
.timeline {
    position: relative;
    max-width: 960px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #4CAF50; /* Central line color */
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
}

/* Skill Box & Experience Box Styles */
.skill-box, .experience-box {
    width: calc(50% - 40px); /* Adjust width for spacing */
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f0fff4; /* New box color for a refreshed look */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skill-box:hover, .experience-box:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Enhanced shadow on hover for depth */
}

.skill-box h5, .experience-box h5, .skill-box p, .experience-box p {
    color: #2e8b57; /* Slightly darker green for text for better readability */
}

@media screen and (max-width: 768px) {
    .timeline, .skill-box, .experience-box {
        width: 100%; /* Full width on smaller screens */
        max-width: none;
    }
    .timeline::after {
        display: none; /* Hide the central line on smaller screens */
    }
}
